[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=florin
Group=florin
WorkingDirectory=/home/florin/app/src/
Environment="PATH=/home/florin/app/venv/bin"
EnvironmentFile=/home/florin/.env
ExecStart=/home/florin/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target

